/*将所有HTML元素的默认边距清0*/
html, body {
    font-size: 12px;
    font-family: "微软雅黑", "arial";
    color: #262626;
    background: #FFF;
}
/*对HTML元素中的字体、颜色、背景色进行初始设置*/
ul li, ol li {
    list-style: none;
}
/*将列表标签的默认样式清除*/
a {
    text-decoration: none;
    outline: none;
    color: #262626;
    
}
/*将超链接的下划线去掉以及在ie6中点击出现的虚线框去掉*/
img {
    border: none;
}

/*图片的默认边框去掉 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    font-weight: normal;
    text-align: left;
}

input, textarea, select, button {
    font-size: 100%;
    font-family: inherit;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

label, button {
    cursor: pointer
}

textarea {
    white-space: pre;
    resize: none;
    border: 1px solid #ececec;
}

article, aside, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block;
}

/*清楚浮动*/
.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

/*解决ie6的兼容性问题*/
.fl {
    float: left;
}

.fr {
    float: right;
}

.mt {
    margin-top: 80px;
}

.wrapper {
    width: 1160px;
    margin: 0 auto;
}



.proCon .proImg {
    width: 360px;
    position: relative;
}

.proCon .proImg img {
    display: block;
}

.smallImg {
    margin-top: 20px;
}

.smallImg img {
    float: left;
}

.proIntro .smallImg p {
    padding: 2px;
    margin-right: 20px;
    border: 1px solid #fff;
}

.proIntro .smallImg img {
    width: 45px;
}

.proImg .smallImg img {
    width: 50px;
    margin-right: 20px;
}

.proIntro {
    width: 350px;
    padding: 20px 10px;
    margin: 35px 0;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}

.proIntro > p {
    height: 30px;
    line-height: 30px;
}

.proIntro > p span {
    color: #C10000;
}

.proIntro .smallImg {
    margin: 20px 0 35px;
    position: relative;
}

.proIntro .smallImg p.on {
    border: 1px solid #C10000;
}

.proIntro .smallImg p {
    border: 1px solid #fff;
}

.proIntro .smallImg span {
    position: absolute;
    top: 55px;
    left: 0;
    padding: 5px;
    border: 1px solid #dbdbdb;
}

.size{
   margin-top: 10px;
    height: 50px;
}
.size span{
    float: left;
    display: block;
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #fff;
    margin-right: 20px;
    background-color: rgba(185, 178, 177,.6);
    cursor: pointer;
}

.size .act{
     border: 1px solid red;
}

.proIntro .num {
    margin-top: 20px;
}

.proIntro .num span {
    width: 27px;
    height: 27px;
    line-height: 27px;
    text-align: center;
}

.proIntro .num img {
    width: 27px;
    height: 27px;
    cursor: pointer;
}

.proIntro .num p.please {
    margin-left: 20px;
    color: #C10000;
    line-height: 27px;
    display: none;
}

.btns p, .changeBtn p {
    width: 170px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.btns p.buy, .changeBtn p.buy {
    background: #C10000;
    color: #fff;
}

.btns p.cart, .changeBtn p.cart {
    border: 1px solid #000;
}

a.more {
    position: absolute;
    right: 26px;
    bottom: 26px;
    text-decoration: underline;
}

.detCon {
    margin-top: 30px;
    margin-bottom: 80px;
}

.detCon .proDet .proImg > img {
    width: 580px;
    height: 580px;
}

.detCon .smallImg > img {
    width: 85px;
    height: 85px;
}

.detCon .proImg {
    width: auto;
}

.detCon .intro {
    width: 500px;
}

.detCon .intro .title h4 {
    height: 50px;
    line-height: 50px;
    font-weight: normal;
    font-size: 22px;
}

.detCon .intro .title p {
    margin: 10px 0;
    color: #777;
}

.detCon .intro .title span {
    font-size: 22px;
    color: #C10000;
}

.detCon .intro .proIntro {
    width: auto;
}

.detCon .btn {
    padding: 0 30px;
}


.mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background-color: #fede4f;
    opacity: .5;
    border: 1px solid #ccc;
    cursor: move;
    display: none;
}
.maskb{
    position: absolute;
    left: 550px;
    top: 80px;
    width: 500px;
    height: 500px;
    
    z-index: 999;
    display: none;
    border: 1px solid #ccc;
    overflow: hidden;
}
.maskb .bigimg{
    position: absolute;
}

